.card{
    width: 20rem;
    height: 33rem;
}
.card:hover{
    transition: 0.5s ease;
    transform: scale(1.05   );
    cursor: pointer;
}
img{
    width: 100%;
    height: 100%;
}
.pokedex{
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.svgUsuario{
    background-color: white;
}